<div align='center'>
    <h1>Welcome to the "Ray's Cruiser Shop"</h1>
    <br/>
    <%= image_tag 'CruiserSide-screen.jpg'%>
</div>
<!-- http://speedstudiodesign.com/transportation/thresher-custom-cruiser-bike/ -->

