
<div align='center'>
  <% if current_user.user_role.name == 'admin' %>
    <%= link_to "Item Type Manager", item_types_path, :class => 'button blue '  %>
    <br/>
    <br/>
    <%= link_to "Item Manager", items_path, :class => 'button blue '  %>
    <br/>
    <br/>
    <hr/>
  <%else %>
    <!-- not admin -->
  <%end%>
  <br/>
  <%= link_to "My Order Manager", orders_path, :class => 'button gray ' %>
</div>